# PRUEBA - ING DATOS (ConsultasSQL - Solucion planteada desde bd original)

## Log Ejecucion

In [81]:
import datetime
from IPython.display import display, HTML
from notebook import notebookapp
servers = list(notebookapp.list_running_servers())
now = datetime.datetime.now()
display(HTML("""<style type="text/css">.generated-text {   font-family:Verdana, sans-serif; font-size:inherit;   font-style:italic;   line-height:20px;   text-align:justify;   color:#1b5727;   background-color:#ffffff;   padding:20px;   margin:auto;}</style>
<h6 class="generated-text">Proceso ejecutado por: Brayan Muñoz</h6>"""))
display ("Fecha y hora de inicio: ")
display (now.strftime("%Y-%m-%d %H:%M"))
display(servers[0])

'Fecha y hora de inicio: '

'2024-02-20 06:44'

{'base_url': '/',
 'hostname': 'localhost',
 'notebook_dir': 'C:\\Users\\braya',
 'password': False,
 'pid': 10468,
 'port': 8888,
 'secure': False,
 'sock': '',
 'token': 'cfc56ea9c00d163e9f8813d5fe0db7c04c31ccc8b93e5ec3',
 'url': 'http://localhost:8888/'}

## Librerias

In [17]:
import psycopg2 as bd

### 1. Ventas totales en USD.

In [21]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("select sum(p.amount) from payment p ")
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
(Decimal('61312.04'),)

### 2. Cantidad total de las transacciones de ventas.

In [22]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("select count(p.amount) from payment p   ")
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
(14596,)

### 3. Ventas en dólares por país en los que se ubican las tiendas.

In [43]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("""select c.country, sum(p.amount) Ventas  
                from country c, city c2, address a,  store s, staff s2, payment p 
                where c.country_id = c2.country_id and c2.city_id =a.city_id and a.address_id = s.address_id and s.store_id =s2.store_id  and s2.staff_id =p.staff_id and s.manager_staff_id =s2.staff_id 
                group by c.country """)
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
('Canada', Decimal('30252.12'))
('Australia', Decimal('31059.92'))

### 4. Ventas en dólares a través del tiempo.

In [37]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("""select to_char(P.payment_date ,'YYYY-MM') Fecha, sum(amount) from payment p
                group by Fecha 
                order by Fecha asc """)
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
('2007-02', Decimal('8351.84'))
('2007-03', Decimal('23886.56'))
('2007-04', Decimal('28559.46'))
('2007-05', Decimal('514.18'))

### 5. Identificar los cinco clientes con mayor valor total en compras.

In [38]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("""select C3.customer_id , C3.first_name , C3.last_name , sum(P.amount) Ventas_Totales  from country c, city c2, address a, customer c3, payment p 
                where c.country_id = c2.country_id and c2.city_id =a.city_id and a.address_id =c3.address_id  and c3.customer_id =p.customer_id 
                group by c3.customer_id 
                order by Ventas_Totales desc
                limit 5""")
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
(148, 'Eleanor', 'Hunt', Decimal('211.55'))
(526, 'Karl', 'Seal', Decimal('208.58'))
(178, 'Marion', 'Snyder', Decimal('194.61'))
(137, 'Rhonda', 'Kennedy', Decimal('191.62'))
(144, 'Clara', 'Shaw', Decimal('189.60'))

### 6. Identificar las cinco películas con mayores ventas totales.

In [39]:
conexion = bd.connect(host="localhost", database="dvdrental", user="postgres", password="12345")
cur = conexion.cursor()
cur.execute("""select f.film_id , f.title, sum(p.amount) Compras_Totales from film f, inventory i, rental r , payment p  
                where f.film_id =i.film_id and i.inventory_id = r.inventory_id and r.rental_id = p.rental_id 
                group by f.film_id 
                order by Compras_Totales desc
                limit 5""")
result = cur.fetchall()

print("RESPUESTA:")
for fila in result:
    print(fila)
    
conexion.commit()
cur.close()

RESPUESTA:
(879, 'Telegraph Voyage', Decimal('215.75'))
(1000, 'Zorro Ark', Decimal('199.72'))
(973, 'Wife Turn', Decimal('198.73'))
(460, 'Innocent Usual', Decimal('191.74'))
(444, 'Hustler Party', Decimal('190.78'))

In [ ]:
conexion.close()