# PRUEBA - ING DATOS (ConsultasSQL - Solucion planteada DWareHouse)

## Log Ejecucion

In [81]:
import datetime
from IPython.display import display, HTML
from notebook import notebookapp
servers = list(notebookapp.list_running_servers())
now = datetime.datetime.now()
display(HTML("""<style type="text/css">.generated-text {   font-family:Verdana, sans-serif; font-size:inherit;   font-style:italic;   line-height:20px;   text-align:justify;   color:#1b5727;   background-color:#ffffff;   padding:20px;   margin:auto;}</style>
<h6 class="generated-text">Proceso ejecutado por: Brayan Muñoz</h6>"""))
display ("Fecha y hora de inicio: ")
display (now.strftime("%Y-%m-%d %H:%M"))
display(servers[0])

'Fecha y hora de inicio: '

'2024-02-20 06:44'

{'base_url': '/',
 'hostname': 'localhost',
 'notebook_dir': 'C:\\Users\\braya',
 'password': False,
 'pid': 10468,
 'port': 8888,
 'secure': False,
 'sock': '',
 'token': 'cfc56ea9c00d163e9f8813d5fe0db7c04c31ccc8b93e5ec3',
 'url': 'http://localhost:8888/'}

## Librerias

In [1]:
import psycopg2 as bd

### 1. Ventas totales en USD.

In [5]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute(""" SELECT SUM(amount) FROM Dw_Sales""")
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA:
(Decimal('61312.04'),)

### 2. Cantidad total de las transacciones de ventas.

In [6]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute(""" SELECT COUNT(p.amount) FROM Dw_Sales p""")
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA:
(14596,)

### 3. Ventas en dólares por país en los que se ubican las tiendas.

In [10]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""SELECT s.country, SUM(p.amount) Total_Ventas  
                FROM Dw_store s, Dw_sales p 
                WHERE s.store_id = p.store_fk 
                group by s.country """)
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA DEDE DW:
('Australia', Decimal('31059.92'))
('Canada', Decimal('30252.12'))

### 4. Ventas en dólares a través del tiempo.

In [19]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute(""" SELECT TO_CHAR(p.date_fk ,'YYYY-MM') Fecha , SUM(p.amount) Total_Ventas  
                FROM Dw_sales p 
                GROUP BY Fecha 
                ORDER BY Fecha ASC""")
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA DEDE DW:
('2007-02', Decimal('8351.84'))
('2007-03', Decimal('23886.56'))
('2007-04', Decimal('28559.46'))
('2007-05', Decimal('514.18'))

### 5. Identificar los cinco clientes con mayor valor total en compras.

In [17]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute(""" SELECT C.customer_id , C.first_name , C.last_name , SUM(P.amount) Ventas_Totales  
                FROM Dw_customer c, Dw_Sales p 
                WHERE c.customer_id =p.customer_fk 
                GROUP BY c.customer_id 
                ORDER BY Ventas_Totales DESC
                LIMIT 5""")
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA DEDE DW:
(148, 'Eleanor', 'Hunt', Decimal('211.55'))
(526, 'Karl', 'Seal', Decimal('208.58'))
(178, 'Marion', 'Snyder', Decimal('194.61'))
(137, 'Rhonda', 'Kennedy', Decimal('191.62'))
(144, 'Clara', 'Shaw', Decimal('189.60'))

### 6. Identificar las cinco películas con mayores ventas totales.

In [18]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute(""" SELECT f.film_id , f.title, sum(p.amount) Compras_Totales 
                FROM Dw_film f, Dw_Sales p  
                WHERE f.film_id = p.film_fk 
                GROUP BY f.film_id 
                ORDER BY Compras_Totales DESC
                LIMIT 5""")
result = cur.fetchall()

print("RESPUESTA DEDE DW:")
for fila in result:
    print(fila)
    
conexion_dw.commit()
cur.close()

RESPUESTA DEDE DW:
(879, 'Telegraph Voyage', Decimal('215.75'))
(1000, 'Zorro Ark', Decimal('199.72'))
(973, 'Wife Turn', Decimal('198.73'))
(460, 'Innocent Usual', Decimal('191.74'))
(444, 'Hustler Party', Decimal('190.78'))

In [ ]:
conexion.close()