# PRUEBA - ING DATOS (Creacion de Tablas - DW)

## Log Ejecucion

In [1]:
import datetime
from IPython.display import display, HTML
from notebook import notebookapp
servers = list(notebookapp.list_running_servers())
now = datetime.datetime.now()
display(HTML("""<style type="text/css">.generated-text {   font-family:Verdana, sans-serif; font-size:inherit;   font-style:italic;   line-height:20px;   text-align:justify;   color:#1b5727;   background-color:#ffffff;   padding:20px;   margin:auto;}</style>
<h6 class="generated-text">Proceso ejecutado por: Brayan Muñoz</h6>"""))
display ("Fecha y hora de inicio: ")
display (now.strftime("%Y-%m-%d %H:%M"))
display(servers[0])

'Fecha y hora de inicio: '

'2024-02-20 08:38'

{'base_url': '/',
 'hostname': 'localhost',
 'notebook_dir': 'C:\\Users\\braya',
 'password': False,
 'pid': 10468,
 'port': 8888,
 'secure': False,
 'sock': '',
 'token': 'cfc56ea9c00d163e9f8813d5fe0db7c04c31ccc8b93e5ec3',
 'url': 'http://localhost:8888/'}

## Librerias

In [2]:
import psycopg2 as bd

### Creacion Tabla 'Store'

In [3]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Store( 
    store_id SERIAL4 PRIMARY KEY,
    address VARCHAR(50) NOT NULL,
    district VARCHAR(20) NOT NULL, 
    phone VARCHAR(20) NOT NULL,
    city VARCHAR(50) NOT NULL,
    country VARCHAR(50) NOT NULL,
    last_update timestamp NOT NULL
    )""")
conexion_dw.commit()
cur.close()

### Creacion Tabla 'Customer'

In [4]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Customer( 
    customer_id SERIAL4 PRIMARY KEY,
    first_name varchar(45) NOT NULL,
    last_name  varchar(45) NOT NULL, 
    email      varchar(50),  
    active     int4, 
    address    VARCHAR(50) NOT NULL,
    district   VARCHAR(20) NOT NULL, 
    phone      VARCHAR(20) NOT NULL,
    city       VARCHAR(50) NOT NULL,
    country    VARCHAR(50) NOT NULL,
    last_update timestamp  NOT NULL
    )""")
conexion_dw.commit()
cur.close()

### Creacion Tabla 'Staff'

In [5]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Staff( 
    staff_id SERIAL4 PRIMARY KEY,
    first_name varchar(45) NOT NULL,
    last_name  varchar(45) NOT NULL, 
    email      varchar(50) ,  
    active     bool NOT NULL, 
    username   varchar(16) NOT NULL,
    password   varchar(40),
    address    VARCHAR(50),
    district   VARCHAR(20), 
    phone      VARCHAR(20),
    city       VARCHAR(50) NOT NULL,
    country    VARCHAR(50) NOT NULL,
    last_update timestamp
    )""")
conexion_dw.commit()
cur.close()

### Creacion Tabla 'Film'

In [6]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Film( 
    film_id SERIAL4 PRIMARY KEY,
    title varchar(255) NOT NULL,
    description  text, 
    release_year int4,
    language bpchar(20),
    rental_duration int2,
    length int2,
    last_update timestamp
    )""")
conexion_dw.commit()
cur.close()

### Creacion Tabla 'Date'

In [7]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Date( 
    Date date PRIMARY KEY,
    year int4,
    month varchar(20),
    day int4
    )""")
conexion_dw.commit()
cur.close()

### Creacion Tabla 'Sales'

In [8]:
conexion_dw = bd.connect(host="localhost", database="dw_dvdrental", user="postgres", password="12345", port='5431')
cur = conexion_dw.cursor()
cur.execute("""CREATE TABLE dw_Sales( 
    sales_id SERIAL4 PRIMARY KEY,
    store_fk SERIAL4 NOT NULL,
    staff_fk SERIAL4 NOT NULL,
    customer_fk SERIAL4 NOT NULL,
    film_fk SERIAL4 NOT NULL,
    date_fk date NOT NULL,
    amount numeric(5, 2),
    foreign key (store_fk) references dw_Store(store_id),
    foreign key (staff_fk) references dw_Staff(staff_id),
    foreign key (customer_fk) references dw_Customer(customer_id),
    foreign key (film_fk) references dw_Film(film_id),
    foreign key (date_fk) references dw_Date(Date)
    )""")
conexion_dw.commit()
cur.close()

In [9]:

conexion_dw.close()

# FIN :)